# Configuration for the operator
config:
  # Indicates whether Blazar leases should be used
  # Valid values are yes, no or auto, AS STRINGS
  blazarEnabled: "auto"
  # The check interval for the operator timers
  checkInterval: 60
  # The default grace period for leases
  defaultGracePeriod: 600
  # Kopf internal debug logging, AS BOOL
  kopfDebugLoggingEnabled: false

# The operator image to use
image:
  repository: ghcr.io/azimuth-cloud/azimuth-schedule-operator
  pullPolicy: IfNotPresent
  tag: ""  # Defaults to appVersion

imagePullSecrets: []

# Pod-level security context
podSecurityContext:
  runAsNonRoot: true

# Container-level security context
securityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop: [ALL]
  readOnlyRootFilesystem: true

# Resource requests and limits for the containers
resources: {}

# Node selector for operator pods
nodeSelector: {}

# Affinity rules for operator pods
affinity: {}

# Tolerations for operator pods
tolerations: []

# The resources that will be managed by the schedule operator
# By default, the schedule operator is allowed to manage Azimuth CaaS and Kubernetes clusters
managedResources:
  - apiGroup: caas.azimuth.stackhpc.com
    resources: [clusters]
  - apiGroup: azimuth.stackhpc.com
    resources: [clusters]

# Settings for kube-state-metrics
metrics:
  enabled: false
  # Configuration for the dashboard
  dashboard:
    enabled: true
    labels:
      grafana_dashboard: "1"
  prometheus:
    rules:
      enabled: true
    monitor:
      enabled: true
